@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style  */
.btn {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 20px 25px;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    border-style: none;
}


/* header section  */

/* Navbar related style  */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
    /* border: 1px solid tomato; */
    display: flex;
    justify-content: space-between;
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    padding: 50px 0 100px;
}

.brand {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.navbar-lists {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar-links {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

/* Banner section related style  */
.banner-container {
    /* border: 1px solid orangered; */
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.banner-content {
    /* border: 1px solid orange; */
    width: 76%;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    /* font color dark 01  */
    color: #131313;
    margin-bottom: 30px;
}

.banner-description {
    font-size: 16px;
    line-height: 26px;
    /* font color dark 03  */
    color: #727272;
    margin-bottom: 30px;
}

.banner-image img {
    width: 100%;
    vertical-align: middle;
    margin: 50px 0 45px;
}

/* main section  */

/* Features section related style  */
.features-header {
    display: flex;
    /* border: 1px solid blue; */
    width: 68%;
    margin: 80px auto 0;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.features-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* border: 1px solid purple; */
    width: 220%;
}

.features-image img {
    /* border: 1px solid red; */
    width: 100%;
}

.features-content-title {
    font-size: 2.8rem;
    margin-bottom: 24px;
}

#quick-list {
    font-weight: 500;
    /* font color dark 03  */
    color: #727272;
}

#of-our {
    font-weight: 700;
    /* font color dark 01  */
    color: #131313;
}

#features {
    font-weight: 700;
    color: #FF900E;
}

.features-content-description {
    font-size: 16px;
    line-height: 26px;
    /* font color dark 03  */
    color: #727272;
    margin-bottom: 30px;
}

/* Features item section related style  */
.features-item {
    /* border: 1px solid green; */
    width: 75%;
    max-width: 1140px;
    margin: 100px auto 0;
    /* text-align: center; */
}

.features-item-container {
    /* border: 1px solid purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.features-item-content {
    /* border: 1px solid peru; */
    text-align: start;
    padding-top: 35px;
}

.features-item-title {
    font-size: 2.8rem;
    font-weight: 700;
    /* font color dark 01  */
    color: #131313;
    margin-bottom: 20px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-item-description {
    line-height: 26px;
    /* font color dark 03  */
    color: #727272;
    margin-bottom: 20px;
}

.features-item-content-container {
    padding: 10px 20px 10px 30px;
    margin-bottom: 18px;
    box-shadow: 0 4px 30px 0 #00000013;
}

.container-title {
    font-size: 1.2rem;
    font-weight: 600;
    /* font color dark 01  */
    color: #131313;
    margin-bottom: 10px;
}

.container-description {
    font-size: 16px;
    line-height: 26px;
    /* font color dark 03  */
    color: #727272;
}

.features-item-image {
    /* border: 1px solid red; */
    width: 220%;
}

.features-item-image img {
    width: 100%;
}


.btn-badge {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px 15px;
    margin-left: -52px;
    margin-top: -80px;
}

.ten-plus-year {
    font-size: 2.2rem;
    font-weight: 700;
    color: #FFFFFF;
}

